* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  background-image: url(/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h2 {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  color: white;
  padding: 150px 0 80px;
  justify-content: center;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.accordion {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  background-color: purple;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 18px;
  width: 80%;
  outline: none;
  transition: 0.4s;
}
.panel {
  padding: 0 40px;
  display: none;
  color: white;
  overflow: hidden;
}
p {
  padding: 10px 20px;
  background-color: purple;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}
.back-button {
  border: none;
  background-color: purple;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  width: 100%;
  padding: 18px 50px;
}
